name: Continuous Integration
on:
  - push
  - pull_request

jobs:
  build:
    name: 'Test, build, release'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4

      - name: 'Setup Node'
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: 'Install Depependencies'
        run: npm install --force

      - name: 'Tests'
        run: |
          npm run test

      - name: 'Mutation Tests'
        run: |
          npm run test:m

      - name: 'Build'
        run: |
          npm run build

      - name: 'Release'
        if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/next')
        run: |
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
